<!-- Loader -->
<div class="loader-overlay" [ngClass]="{'loader-hidden': isLoaderHidden}" *ngIf="isLoading"> <app-spinner></app-spinner>
  <!-- Ton composant de spinner -->
</div>

<!-- Contenu principal, affiché uniquement après le chargement -->
<div *ngIf="!isLoading">
  <!-- Barre de navigation -->
  <app-navbar></app-navbar>

  <!-- Contenu principal avec animation -->
  <main [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>

  <!-- Section décorative avec SVG -->
  <div class="mt-10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#7F1734" fill-opacity="1"
        d="M0,128L20,128C40,128,80,128,120,112C160,96,200,64,240,42.7C280,21,320,11,360,58.7C400,107,440,213,480,234.7C520,256,560,192,600,176C640,160,680,192,720,170.7C760,149,800,75,840,48C880,21,920,43,960,74.7C1000,107,1040,149,1080,154.7C1120,160,1160,128,1200,96C1240,64,1280,32,1320,32C1360,32,1400,64,1420,80L1440,96L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z">
      </path>
    </svg>
  </div>

  <!-- Pied de page -->
  <footer class="bg-gray-100 border-t-2 border-gray-300 py-8">
    <div class="container mx-auto px-8 grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Localisation -->
      <div class="text-center md:text-left">
        <h3 class="font-semibold text-lg mb-4 text-gray-800">Notre localisation</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2671.621479957287!2d-1.6872164255349682!3d48.10759337921839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480eda134f812e41%3A0xe9fc71ffef61580a!2s78%20Mail%20Fran%C3%A7ois%20Mitterrand%2C%2035000%20Rennes!5e0!3m2!1sfr!2sfr!4v1695991999346!5m2!1sfr!2sfr"
          width="100%" height="150" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy"></iframe>
        <p class="mt-2 text-gray-600">78 Mail François Mitterrand, 35000 Rennes</p>
      </div>

      <!-- Contact -->
      <div class="text-center">
        <h3 class="font-semibold text-lg mb-4 text-gray-800">Nous contacter</h3>
        <p class="text-gray-600 mb-2">Envoyez-nous un email :</p>
        <a href="mailto:contact@example.com" class="text-blue-500 font-medium hover:underline">
          cavelevinvivant&#x40;gmail.com
        </a>
        <p class="text-gray-600 mb-2">Appelez-nous directement :</p>
        <p class="text-blue-500 font-medium hover:underline">
          02 90 22 74 83
        </p>
      </div>

      <!-- Réseaux sociaux -->
      <div class="text-center md:text-right">
        <h3 class="font-semibold text-lg mb-4 text-gray-800">Suivez-nous</h3>
        <a href="https://www.facebook.com" target="_blank"
          class="inline-flex items-center text-blue-700 font-medium hover:underline">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H7v-3h3v-2.2c0-2.93 1.79-4.54 4.4-4.54 1.26 0 2.34.1 2.66.14v3.09h-1.82c-1.43 0-1.7.68-1.7 1.67V12h3.42l-.45 3H14v6.8c4.56-.93 8-4.96 8-9.8z" />
          </svg>
          Facebook
        </a>
        <a href="https://www.instagram.com" target="_blank"
          class="inline-flex items-center text-blue-700 font-medium hover:underline">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"
            class="h-6 w-6 mr-2" alt="">
          Instagram
        </a>
      </div>
    </div>

    <div class="mt-8">
      <hr class="border-gray-300">
    </div>
    <div class="text-center mt-4 text-sm text-gray-500">
      © 2024 Le Vin Vivant. Tous droits réservés.
    </div>
  </footer>
</div>