<!-- Container principal -->
<div class="bg-white relative flex items-center justify-center overflow-visible z-0">
  <div class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-6 lg:max-w-screen-xl lg:px-8">
    <div class="flex flex-col-reverse items-center justify-between lg:flex-row lg:py-16">
      <!-- Section de recherche -->
      <div class="relative w-full lg:pr-5 mb-10 lg:mb-0">
        <div class="lg:max-w-xl relative z-40">
          <h2 class="mb-6 text-3xl sm:text-5xl font-light leading-snug tracking-tight text-g1 sm:leading-snug">
            Catégorie
            <span
              class="my-1 inline-block border-b-4 sm:border-b-8 border-g4 bg-white px-4 font-bold text-g4 animate__animated animate__pulse text-purple-700"
            >
              Spiritueux
            </span>
          </h2>
          <p class="text-sm sm:text-base font-light text-gray-700">
            Explore notre sélection raffinée de spiritueux provenant des meilleurs producteurs du monde entier.
          </p>
          <div class="mt-6 sm:mt-10 flex flex-col gap-4">
            <!-- Barre de recherche -->
            <p-floatLabel class="w-full">
              <input
                class="border border-gray-300 w-full rounded-full px-4 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-500"
                pInputText
                id="search-product"
                [(ngModel)]="value"
                placeholder=" "
                (input)="onSearchChange()"
              />
              <label for="search-product" class="text-gray-500">Rechercher un produit</label>
            </p-floatLabel>

            <!-- Dropdown de région -->
            <div class="my-4 sm:my-10 relative w-full">
              <label for="region-select" class="block text-sm font-medium text-gray-700 mb-2">Filtrer par région</label>
              <div class="relative">
                <select
                  id="region-select"
                  class="block appearance-none w-full bg-gray-100 text-gray-800 border border-gray-600 rounded-full py-3 px-4 pr-10 leading-tight focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-purple-500 hover:border-gray-400 transition duration-200"
                  [(ngModel)]="selectedRegion"
                  (change)="onRegionChange($event)"
                >
                  <option value="" disabled selected>Choisir une région</option>
                  <option *ngFor="let region of uniqueRegions" [value]="region.id">
                    {{ region.name }}
                  </option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-400">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path
                      fill-rule="evenodd"
                      d="M10 3a1 1 0 01.707.293l5 5a1 1 0 01-1.414 1.414L10 5.414 5.707 9.707A1 1 0 014.293 8.293l5-5A1 1 0 0110 3z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section image -->
      <div class="relative hidden lg:ml-32 lg:block lg:w-1/2 z-0">
        <div class="mx-auto w-full sm:w-fit overflow-hidden rounded-[2rem] sm:rounded-[6rem] rounded-br-none rounded-tl-none shadow-lg">
          <img class="h-60 sm:h-96 w-full object-cover" src="../../../assets/spirit_banner.png" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Liste des produits -->
<section *ngIf="!is_loading" class="p-4 sm:p-10 flex flex-wrap justify-center gap-3">
  <div
    *ngFor="let item of products.slice(first, first + rows)"
    class="p-2"
  >
    <a
      [routerLink]="'/product-overview/' + item.id"
      [state]="{ data: item }"
      class="group relative block overflow-hidden w-48 sm:w-60 md:w-72 rounded-lg shadow-lg transition-transform hover:scale-105 duration-300"
    >
      <img
        [src]="item.get_image"
        alt=""
        class="w-full h-48 sm:h-60 md:h-72 object-cover transition duration-500 group-hover:scale-110"
      />

      <div class="relative border border-gray-100 bg-white p-3 sm:p-4 md:p-5">
        <span
          class="whitespace-nowrap rounded-lg text-purple-700 font-bold bg-purple-200 px-2 py-1 text-xs"
        >
          {{ item.alcool_degree }} degrés
        </span>
        <span
          *ngIf="item.in_stock"
          class="ml-2 whitespace-nowrap rounded-lg bg-green-100 font-bold text-green-700 px-2 py-1 text-xs"
        >
          En stock
        </span>
        <span
          *ngIf="!item.in_stock"
          class="ml-2 whitespace-nowrap rounded-lg bg-red-100 font-bold text-red-700 px-2 py-1 text-xs"
        >
          En rupture
        </span>

        <h3 class="mt-2 text-xs sm:text-sm md:text-base font-medium text-gray-900">
          {{ item.name.length > 25 ? (item.name | slice: 0: 25) + '...' : item.name }}
        </h3>

        <p class="mt-1 text-xs sm:text-sm md:text-base text-gray-700">{{ item.price }} €</p>

        <form class="mt-2">
          <button
            class="
            rounded-full
            block w-full border-4 border-black
            bg-white text-black font-bold p-2 sm:p-2.5 md:p-3
            transition hover:scale-105
            hover:bg-black hover:text-white
            duration-200
          "
          >
            Ajouter au panier
          </button>
        </form>
      </div>
    </a>
  </div>
</section>
<p-paginator
  class="relative z-10"
  (onPageChange)="onPageChange($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="products.length"
  [rowsPerPageOptions]="[10, 20, 30]"
  [showCurrentPageReport]="true"
></p-paginator>

<!-- Spinner -->
<app-spinner *ngIf="is_loading"></app-spinner>